<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Students</title>
    <link rel="stylesheet" href="/stylesheets/display.css">
</head>

<body>
    <h1 class = "header">All the Students</h1>
    <fieldset>
        <%rows.forEach(function(r) {%>

            <ul>
                <li>
                    <div style=
                    "width: <%=r.weight%>px; 
                    height: <%=r.height%>px; 
                    border: 2px solid <%=r.hair%>; 
                    align-content: center; 
                    margin: auto;
                    margin-top: auto;
                    font-size:21px;
                    text-align:justify; 
                    text-align:center;">
                    <%=r.name%>
                    <p>GPA: <%=r.gpa%></p>
                    </div>
                </li>
            </ul>
        <% }); %>

    </fieldset>

    <form action = "/" method = "GET">
        <button class = "returnBtn" type = "submit"> Return to index </button>
    </form>
</body>
</html>